* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(0, 130, 50, 0.5);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 200px;
  margin-top: 15px;
}

.header-left {
  float: left;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(0, 50, 50, 0.8);
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: white;
}

.heading h2 {
  font-weight: normal;
}


.lesson {
  float: left;
  width: 33%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon  img {
  width: 300px;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: white;
}

.heading h3 {
  font-weight: normal;
}

.btn{
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
}

.heading-contact {
  padding-top: 80px;
  padding-bottom: 50px;
  color: black;
  opacity: 0.7;
}

footer img {
  width: 125px;
  margin-top: 100px;
}

footer p {
  color: white;
  font-size: 12px;
}
