* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 130px 0 100px 0;
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
}

.title-h {
  //display: none;
}

.title-p {
  //display: none;
}

.fa {
  margin-right: 5px;
}

.bust {
  position: relative;
  top: 80px;
  height: 1300px;
  float: left;
  opacity: 0.9;
}

.about {
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  opacity: 0.7;
}


.profile {
  margin-top: 100px;
  width: 1000px;
  text-align: left;
  font-size: 13px;
  opacity: 0.7;
}

.skil-up  h3{
  margin-top: 50px;
  opacity: 0.7;
}
.skill {
  opacity: 0.7;
}
.oo {
  opacity: 0.5;
}

.gurahu-one {
  position: relative;
  top: -30px;
  left: 648px;
  width: 160px;
  height: 20px;
  background-color: rgba(0, 130, 50, 0.5);
  opacity: 0.7;
  display: none;
}

.gurahu-two {
  position: relative;
  top: -30px;
  left: 648px;
  width: 317px;
  height: 20px;
  background-color: rgba(0, 130, 50, 0.5);
  opacity: 0.7;
  display: none;
}

.gurahu-three {
  position: relative;
  top: -30px;
  left: 648px;
  width: 317px;
  height: 20px;
  background-color: rgba(0, 130, 50, 0.5);
  opacity: 0.7;
  display: none;
}

.gurahu-four {
  position: relative;
  top: -30px;
  left: 648px;
  width: 237px;
  height: 20px;
  background-color: rgba(0, 130, 50, 0.5);
  opacity: 0.7;
  display: none;
}
.gurahu-five {
  position: relative;
  top: -30px;
  left: 648px;
  width: 317px;
  height: 20px;
  background-color: rgba(0, 130, 50, 0.5);
  opacity: 0.7;
  display: none;
}

.gurahu-six {
  position: relative;
  top: -30px;
  left: 648px;
  width: 237px;
  height: 20px;
  background-color: rgba(0, 130, 50, 0.5);
  opacity: 0.7;
  display: none;
}

.gurahu-seven {
  position: relative;
  top: -30px;
  left: 648px;
  width: 317px;
  height: 20px;
  background-color: rgba(0, 130, 50, 0.5);
  opacity: 0.7;
  display: none;
}

.gurahu-eight {
  position: relative;
  top: -30px;
  left: 648px;
  width: 160px;
  height: 20px;
  background-color: rgba(0, 130, 50, 0.5);
  opacity: 0.7;
  display: none;
}

.gurahu-nine {
  position: relative;
  top: -30px;
  left: 648px;
  width: 160px;
  height: 20px;
  background-color: rgba(0, 130, 50, 0.5);
  opacity: 0.7;
  display: none;
}


header {
  height: 65px;
  width: 100%;
  background-color: rgba(0, 130, 50, 0.5);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 200px;
  margin-top: 15px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(0, 50, 50, 0.3);
}

 .menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}



.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(0, 50, 50, 0.8);
  text-align: center;
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: white;
}

.heading h2 {
  font-weight: normal;
}


.lesson {
  float: left;
  width: 33%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 35%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 70%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: white;
}

.heading h3 {
  font-weight: normal;
}

.btn{
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
}

.heading-contact {
  padding-top: 80px;
  padding-bottom: 50px;
  color: black;
  opacity: 0.7;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #1a7940;
  cursor: pointer;
  box-shadow: 0 7px rgba(0, 50, 50, 0.8);
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.fade_off {
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}
.fade_on {
    opacity: 1;
}
