@media all and (max-width: 1079px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  footer {
    text-align: center;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
  .face {
    width: 100%;
  }

  .skil-up {

  }

  .profile {
    clear: both;
    width: 15px;
    width: 80%;
  }

  .gurahu-one {
    left: 8px;
  }

  .gurahu-two {
    left: 8px;
  }

  .gurahu-three {
    left: 8px;
  }

  .gurahu-four {
    left: 8px;
  }

  .gurahu-five {
    left: 8px;
  }

  .gurahu-six {
    left: 8px;
  }

  .gurahu-seven {
    left: 8px;
  }

  .gurahu-eight {
    left: 8px;
  }

  .gurahu-nine {
    left: 8px;
  }

  .fade_off {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {

  .face {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .profile {
    position: relative;
    width: 15px;
    width: 80%;
  }

  .top-wrapper {
    text-align: left;
  }

  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .gurahu-one {
    left: 8px;
  }

  .gurahu-two {
    left: 8px;
  }

  .gurahu-three {
    left: 8px;
  }

  .gurahu-four {
    left: 8px;
  }

  .gurahu-five {
    left: 8px;
  }

  .gurahu-six {
    left: 8px;
  }

  .gurahu-seven {
    left: 8px;
  }

  .gurahu-eight {
    left: 8px;
  }

  .gurahu-nine {
    left: 8px;
  }

  .lesson {
    width: 100%;
  }

  .fade_off {
    font-size: 16px;
}
